$author-image-radius : 60px;
$icon-font: 'FontAwesome';
$primary-font: 'Belleza', 'sans-serif';
$secondary-font: 'Poppins','Georgia', sans-serif;
$shadow-color: #c9c9c9;
$border-color: #ededed;
$gray-shadow: 0px 0px 3px rgba(0,0,0,.2);
$dark-gray-color: #1b1a1a;
$normal-gray-color: #3C3C3B;

/*
================================================================================================
Table of Content
================================================================================================
 1.0 - Typography
 2.0 - Background
 3.0 - Header
 4.0 - Navigation
 5.0 - Navigation (Social)
 6.0 - Navigation (WordPress Highlight)
 7.0 - Navigation (Toggle), breakpoint for responsive menu
 8.0 - Slider
 9.0 - Content (Single Post)
 9.1 - Content (Grey section)
 9.2 - Content (White section)
10.0 - Content (Posts and Custom post types)
11.0 - Content (Category and archive rows)
12.0 - Content (Archives and search rows)
13.0 - Content (Events)
14.0 - Sidebar
15.0 - Footer
16.0 - Buttons (Test colors)
17.0 - Tables
18.0 - Pagination
19.0 - Breadcrumbs
20.0 - Media Queries (Tablet Large 64em (1024px))
21.0 - Media Queries (Mobile Large 37.50em (600px))
22.0 - Media Queries (Mobile Small 30em (480px))
23.0 - Media Queries (Mobile Small 20em (320px))
24.0 - Miscelleanous (clearfix, figure, no-padding)
25.0 - Miscelleanous (Test and hacks colors)
26.0 - Miscelleanous (Test and hacks sizes)
27.0 - Miscelleanous (Comments thread)
28.0 - Miscelleanous (WordPress gallery and image alignment)
================================================================================================
*/

/*
================================================================================================
1.0 - Typography
================================================================================================
*/
a {
	color: $link-color;
	line-height: inherit;
	text-decoration: none;
}
a:hover, a:focus {
	color: $dark-color;
}

@for $i from 1 through 6 {
	h#{$i} {
	font-family: $secondary-font;
	}
}

@for $i from 1 through 6 {
	.panel h#{$i} {
	line-height: 1;
	margin-bottom: 0.625rem;
	font-family: $primary-font;
	color: $link-color;
	}
}


/*
================================================================================================
2.0 - Background
================================================================================================
*/
body {
	background-position: left top;
	background-repeat: repeat;
	background-attachment: scroll;
	font-family: $primary-font;
}
/*
#boxed-wrapper {
	background: #fff;
	display: block;
	margin: 0 auto;
	-webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
	max-width: 1100px;
	width: 100%;
}
*/



/*
================================================================================================
3.0 - Header
================================================================================================
*/
body.home header {

	.socials {
		bottom: 15%;
		/*left: 45%;*/
		display: flex;
		justify-content: center;
		width: 100%;
	}

}

header {
	display: block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center bottom;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-size: cover;

	.nav-wrapper{
		right: 10%;
		top: 20px;
	}
	.nav-wrapper, .socials {
		position: absolute;
	}
}

header div.slogan a {
	color: #FFF;
}

header div.slogan a:hover {
	color: $dark-color;
}

.single-cover {
	position: relative;
	min-height: 150px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:center center; 
	background-size: cover;
}

.single-cover .overlay{
	background: rgba($primary-color,0.85);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.single-cover .title.center{
		text-align: center;
		text-transform: uppercase;
		font-family: $primary-font;   
		padding: 1.6em 0px;
		display: block;
		font-weight: 300;
		text-transform: uppercase;
		color: $light-color;
		;
	
	}
header .site-title {
	font-family: $primary-font;
	font-size: 4.5em;
	padding: 0;
	margin: 0;
	line-height: 1.020em;
}



header .banner-top img{
	max-height: 90px;
	width:auto;
}
header .banner-top .widget-title{
	display:none;
}


/*
================================================================================================
4.0 - Navigation
================================================================================================
*/
.top-bar {
  background: #333333;
  height: 2.8125rem;
  line-height: 2.8125rem;
  margin-bottom: 0;
  overflow: hidden;
  position: relative; 
}

.top-bar {
	background: none;
	z-index: 99;

}
.top-bar.expanded {
	overflow: hidden;
	ul {
		background: $light-color;
	}

}
.top-bar-section li:not(.has-form) a:not(.button) {
	font-size: 0.80em;
	font-weight: 300;
}
.top-bar-section ul li:hover:not(.has-form) > a {
	background-color: $secondary-color;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	line-height: 2.8125rem;
	padding: 1px 1.1rem;
}

.top-bar-section .has-dropdown > a::after {
	font-family: 'FontAwesome';
	color: $link-color;
	content: '\f078';
	line-height: 1px;
	font-size: 0.7em;
}

.top-bar-section .has-dropdown > a:hover::after {
	font-family: 'FontAwesome';
	color: $light-color;
	content: '\f078';
	line-height: 1px;
	font-size: 0.7em;

}

.main-nav {
		 float: right !important;
	 }

.top-bar .toggle-topbar.menu-icon {
	margin-top: 0px;
	top: 0px;
}

.top-bar-section ul li > a {
	color:$secondary-color;
}
.top-bar-section li a:hover{
	color: $dark-color;
	background: $dark-color;
}

.nav-wrapper nav {
	/*! overflow: hidden; */
}
/* override */
.top-bar.expanded .title-area {
	background: transparent;
}
.top-bar .toggle-topbar.menu-icon {
	top: 0%;
}
.main-nav li:first-child {
	border-left: none;
}

.top-bar .toggle-topbar.menu-icon {
	border-bottom: none;
}
.top-bar .toggle-topbar.menu-icon {
	border-bottom: none;
}

.top-bar .toggle-topbar.menu-icon a {
	color: $secondary-color;
	padding: 0;
	position: relative;
	font-family: $primary-font;
}
.top-bar .toggle-topbar.menu-icon a span::after {
	/*box-shadow: 0 0 0 1px $link-color, 0 7px 0 1px $link-color, 0 14px 0 1px $link-color;*/
	box-shadow: none;
	font-family: 'FontAwesome';
	content: '\f0c9';
	color: $secondary-color;
	font-size: 1.8em;
	
}

.top-bar-section ul li {
	background: none;
}


.nav-wrapper nav ul li a {
	font-family: $secondary-font;
	text-transform: uppercase;
}


.nav-wrapper nav #home-link i{
	font-size:1.8em;
}

.top-bar-section .dropdown li a {
	font-size:0.7em;
}
.top-bar-section .dropdown {
	display: block;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	
}

/*
================================================================================================
5.0 - Navigation (Social)
================================================================================================
*/

.socials ul {
	margin: 0;
	padding: 0;
}

.socials ul li {
	text-align: center;
	float: left;
	list-style: none;
	margin-left: 25px;
}

.socials ul li a {
	color: $light-color;
	font-size: 20px;
	border: solid 1px $light-color;
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 40px;
}

footer .socials ul li a:hover {
	color: $dark-color;
	font-size: 20px;
	text-align: center;
	border: solid 1px $dark-color;
}

header .socials ul li a {
	color: $light-color;
	font-size: 25px;
	
	border: none;
	display: block;
}

header .socials ul li a:hover {
	color: $secondary-color;
	text-align: center;
	border: none;
}

.socials ul li {
	text-align: center;
	float: left;
	list-style: none;
	margin-left: 8px;
}
header .socials {
	padding:0;
}

.socials li a{
	content: '\f408';
	display: inline-block;
	padding: 4px;
	font-family: 'FontAwesome';
	font-size: 18px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}
.socials ul li .screen-reader-text {
	display: none;
}
.socials li a[href*="wordpress.com"]::after {
	content: '\f205';
}
.socials li a[href*="facebook.com"]::after{
	content: '\f09a';
}
.socials li a[href*="twitter.com"]::after{
	content: '\f099';
}
.socials li a[href*="dribbble.com"]::after {
	content: '\f17d';
}
.socials li a[href*="plus.google.com"]::after {
	content: '\f0d5';
}
.socials li a[href*="pinterest.com"]::after {
	content: '\f231';
}
.socials li a[href*="github.com"]::after {
	content: '\f09b';
}
.socials li a[href*="tumblr.com"]::after {
	content: '\f174';
}
.socials li a[href*="youtube.com"]::after {
	content: '\f16a';
}
.socials li a[href*="flickr.com"]::after {
	content: '\f16e';
}
.socials li a[href*="vimeo.com"]::after {
	content: '\f27d';
}
.socials li a[href*="instagram.com"]::after{
	content: '\f16d';
}
.socials li a[href*="codepen.io"]::after {
	content: '\f1cb';
}
.socials li a[href*="linkedin.com"]::after {
	content: '\f0e1';
}

/*
================================================================================================
6.0 - Navigation (WordPress Highlight)
================================================================================================
*/

.nav-wrapper nav.top-bar li.current-menu-item,
.nav-wrapper nav.top-bar li.current-menu-ancestor,
.nav-wrapper nav.top-bar li.current-menu-parent
{
   /* border-bottom:solid 1px $link-color; */
}
.nav-wrapper nav.top-bar li.current-menu-item a,
.nav-wrapper nav.top-bar li.current-menu-ancestor a,
.nav-wrapper nav.top-bar li.current-menu-parent a
{
	color: $primary-color;
	font-weight: bold;
}

.nav-wrapper nav.top-bar li.current-menu-item a:hover,
.nav-wrapper nav.top-bar li.current-menu-ancestor a:hover,
.nav-wrapper nav.top-bar li.current-menu-parent a:hover
{
	color: $secondary-color;
}
.top-bar-section .current-menu-item.has-dropdown > a::after, .top-bar-section .current-menu-ancestor.has-dropdown > a::after, .top-bar-section .current-menu-parent.has-dropdown > a::after {
	color: $secondary-color;
	content: '\f078';
	line-height: 1px;
	font-size: 0.7em;
}
.top-bar-section .current-menu-item.has-dropdown > a:hover::after, .top-bar-section .current-menu-ancestor.has-dropdown > a:hover::after, .top-bar-section .current-menu-parent.has-dropdown > a:hover::after {
	color: $secondary-color;
	
}

/*
================================================================================================
7.0 - Navigation (Toggle), breakpoint for responsive menu
================================================================================================
*/
/*
meta.foundation-mq-topbar {
	width: 65em;
}
*/
.top-bar .toggle-topbar.menu-icon a span::after {
	margin-top: 0px;
	top: 0%;
	right: 0.9375rem;
   
}
@media only screen and (max-width: 65em) {
	.top-bar-section li:not(.has-form) a:not(.button) {
	font-size: 1em;
	}
	.top-bar-section li:not(.has-form) a:not(.button) {
		line-height: 2rem;
		padding: 2px 0.5rem;
	}
}

.top-bar-section .dropdown li.title.back a::before{
	font-family: $icon-font;
	content: '\f053';
	font-size: 0.8em;
	border:none;
	color:$primary-color;
	padding-right: 10px;
}
.top-bar-section .dropdown li.title.back a{
	color: $link-color;
	width: 0px;
}
.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
	color: $primary-color;
	display: block;
}

/*
================================================================================================
8.0 - Slider
================================================================================================
*/
@for $i from 1 through 6 {
	.slider-wrapper .panel h#{$i} {
		color: #FFF;
		font-family: $secondary-font;
		font-weight: 700;
		text-transform: none;
	}
}

.slider-wrapper {
	/* animation, rotating circle */
	.post-item .img-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.post-item .img-wrapper > img{
		animation: rotateCircle 30s linear infinite;
		margin: 0;
		padding: 0;
		display: block;
		max-width: 70%;
		border: 0;
		overflow: hidden;    
		opacity: .7;
		margin-top: -15%;

	}

	/* Lines */
@keyframes rotateCircle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
  }
	.post-item-title {
		font-size: 4em;
		.type-machine {
			color: $secondary-color;
		}
		

	}
	.strings {
		display:none;
	}	
	a.button{
			background:#FFF;
			color:$secondary-color;
			margin-top: 20px;
			border-radius:5px;
			/* font-size:0.95em; */
			padding: 13px 40px;
	}
}

.slider-wrapper a.button:hover{
	background:#FFF;
	color:$dark-color;
}
.slider-wrapper a.button{
	border-radius: 30px;
	font-family: $primary-font;
}
.slider-wrapper a.two.button{
	border: solid 1px $light-color;
	background: transparent;
	color: $light-color;
}

.slider-wrapper a.two.button:hover{
	border: none;
	background: darken($primary-color, 40%);
	color: $light-color;
}
.slider-wrapper .post-item-description {
	font-weight:300;
}
.slider-wrapper .post-item {
	background: $primary-color;/* For browsers that do not support gradients */
	position:relative;
}

.slider-wrapper .slider-caption {
	position: absolute;
	padding: 20px;
	top:10%;
	text-align: center;
	text-transform: uppercase;
	width:100%;
	display: flex;
	justify-content: center;
}

.slider-wrapper .panel {
	border: none;
	background: none;
	background-color: none;
}

.slider-wrapper .panel p {
	font-size: 0.9rem;
	font-weight: normal;
	line-height: 1.3;
	margin-bottom: 0.6rem;
}

.slider-wrapper .slider-caption .panel .post-item-title a{
	color:#FFF;
}
.slider-wrapper .slider-caption .panel .post-item-title a:hover{
	color:$primary-color;
}

button.slick-next.slick-arrow {
	border-top-left-radius: 60px;
	border-bottom-left-radius: 60px;
	border-right: none;
	right: 0;
	padding-left: 5px;
}

button.slick-prev.slick-arrow {
	border-top-right-radius: 60px;
	border-bottom-right-radius: 60px;
	border-left: none;
	left: 0;
	padding-right: 5px;
}
.slick-prev, .slick-next {
	border: 1px solid #FFF;
	background: darken($primary-color, 15);
	border-bottom: none;
	border-top: none;
	width: 40px;
	height: 80px;
	
}

.slick-prev::before, .slick-next::before {
	color:#FFF;
}
.slider-wrapper{
	max-height: 400px;
	overflow: hidden;
}

/* Cursor */
.typed-cursor {
	font-weight: 100;
	font-family: Arial, Helvetica, sans-serif;
	color: $secondary-color;
}

/*
================================================================================================
9.0 - Content (Single Post)
================================================================================================
*/

.single-row {
	padding: 0px;
	margin-bottom:30px;
}

.single-row article .panel {
	padding-top: 15px;
	padding-bottom: 15px;
}

.single-row article .panel,
.archive-row article .panel {
	border: none;
	margin: 0;
	padding: 15px;
	background: none;
}

.single-row article .panel .post-item-date {
	text-align: center;
}

.single-row article .panel .post-item-date p {
	clear: right;
	text-transform: uppercase;
	font-size: 1em;
	margin-bottom: 0.4em;
}

.single-row article .panel .post-item-date .post-item-day {
	color: #000;
	font-weight: bold;
}

.single-row article .panel .post-item-category {
	padding-top: 5px;
	border-top: solid 1px;
}
.single-row .post-categories, .single-row .post-tags {
	margin-right:20px;
	margin-bottom:20px;
}
.single-row article.post-item iframe {
	min-width: 100%;
}

.single-row article.post-item {
	padding: 15px;
	/* background: rgba(245, 245, 245, 0.8) !important; */
	line-height: 1.3em;
	font-size: 17px;
	width: 100%;
	background: #FFF;
	/* padding-top:50px; */
	text-align: justify;
	margin-bottom: 1.2rem;
	
	-webkit-box-shadow: $gray-shadow;
	box-shadow: $gray-shadow;
}
.single-row article .post-item-image{
	position:relative;
}
article .post-item-image .colorful-line {
	height: 2px;
	background: $primary-color;
	width:80px;
	position:absolute;
	top:30px;
	left:30px;
}
.single-row article.post-item .wp-caption {
	background: #efefef;
	color: #000;
	font-style: italic;
}

.single-row article.post-item .wp-caption-text {
	padding: 5px;
	text-align: center;
	font-size: 0.7em;
}

.single-row article.post-item ul,
.single-row article.post-item ul {
	list-style: none;
}

.single-row article.post-item ol {
	list-style: none;
	counter-reset: li
}

.single-row article.post-item .post-content ol li:before {
	content: counter(li) ".";
	color: $link-color;
	display: inline-block;
	width: 1em;
	font-weight: bold;
	padding-right: 25px;
}

.single-row article.post-item ol li {
	counter-increment: li;
}

.single-row article.post-item .post-content ul li:before {
	font-family: $icon-font;
	content: '\f054';
	color: $link-color;
	padding-right: 1em;
	font-size: 0.7em;
	height: 10px;
	line-height: 10px;
	position: relative;
	bottom: 3px;
}

.single-row article.post-item blockquote {
	background: #efefef;
	border-left: 5px solid $link-color;
	padding: 5px 10px 5px 20px;
	margin-bottom: 10px
}

article .post-item-date {
	color:gray;
	text-align: center;
	font-size: 0.7rem;
	text-transform: uppercase;
	padding: 5px 0px;
}

.single-row article.post-item blockquote p {
	margin: 7px 0
}

.single-row article.post-item blockquote blockquote {
	background: #fff
}

.single-row article.post-item .post-item-author {
	padding: 20px 10px;
	background: #1d1d1b;
}

.single-row .post-item-author p,
.single-row .post-item-author {
	color: white;
	font-size: 1em;
}

.single-row .post-item-author img {
	height: 120px;
	width: 120px;
	max-width:100%;
	height: auto;
	border-radius: $author-image-radius;
	-moz-border-radius:$author-image-radius;
	-webkit-border-radius:$author-image-radius;
}


/*
.single-row article.post-item img {    background:#FFF;padding:6px;border:solid 1px #d9d9d9;
}
*/

.single-row article button:hover,
.single-row article .panel .button:focus,
.single-row article .panel .button:hover,
.single-row article .panel .button:focus,
.single-row .widget .button:hover {
	background-color: #000;
	color: #FFFFFF;
}

.single-row article.post-item .post-item-title {
	font-family: $primary-font, Helvetica, Roboto, Arial, sans-serif;
	text-transform: uppercase;
	line-height: 2.5rem;
	padding-bottom: 5px;
	text-align: left;
}


/*
================================================================================================
9.1 - Content (grey section)
================================================================================================
*/
section.main-row.grey-section {
	background:$normal-gray-color;
	padding:10px 20px;	
}
section.main-row.grey-section .grey-section-intro {
	padding:10px 20px;
}

section.grey-section .section-expertise-title {
	text-transform:uppercase;
	color:$secondary-color;
	font-weight:bold;
}
section.grey-section .section-expertise-title .highlight{
	color: $light-color;
}
section.grey-section .section-expertise-description {
	color:$light-color;
	font-size: 1em;
}
section.main-row.grey-section .expertise{
	text-align:center;
}
section.main-row.grey-section .expertise .fa {
	font-size: 1.15em;
	color: $primary-color;
	padding: 37px 15px;
	min-width: 115px;
	min-height: 115px;
	background: #FFF;
	border-radius: 80px;
}
section.main-row.grey-section .expertise:hover  > a .fa{
	background: $primary-color;
	color:$light-color;
}

section.main-row.grey-section .expertise-title{
	color:$secondary-color;
	font-weight:bold;
}
section.main-row.grey-section p.expertise-description{
	color:$light-color;
	font-size:0.8em;
	line-height: 1.3;
	display:inline-block;
	font-weight:300;
	font-family: 'Arial', 'serif';
}
/*
================================================================================================
9.2 - Content (white section)
================================================================================================
*/
section.main-row.white-section {
	
	background:$light-color;
	padding:10px 20px;	
	text-align: center;
	
}
section.main-row.white-section .white-section-intro {
	padding:10px 20px;
	margin-bottom: 20px;
}


.single-row article.post-item .bottom-line {
	border-bottom: 10px solid $link-color;
	margin-bottom: 10px;
}
section.white-section .section-title {
	font-family: $secondary-font;
	color: $secondary-color;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;

	&:before, &:after{
	content: "";
	height: 1px;
	display: inline-block;
	margin: 0 auto;
	position: absolute;
	bottom: -10px;

	}
	&:before{
		border-bottom: solid 2px $secondary-color;
		width: 20px;
		left: 45%;
	}
	&:after{
		width: 50px;
		border-bottom: solid 2px $third-color;
		left: 50%;
	}

}

section.items-wrapper {
	display: flex;
	align-items: stretch;
}

section.white-section .item-title{
	color: $primary-color;
}
section.white-section .section-description {
	color: $dark-color;
	font-size: 1em;
}

.main-row.white-section .item-description, .main-row.white-section .section-description {
	color: lighten($normal-gray-color, 20);
	line-height: 1.5;
	font-size: 1.2em;

}
section.main-row.white-section .section-description{
	margin-top: 20px;	
	display: inline-block;
	font-weight: normal;
}
.white-section a.item-link {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	border: solid 1px $primary-color;
	color: $primary-color;
	display: inline-block;
}
.white-section a.item-link:hover{
	border: solid 1px darken($primary-color, 40);;
	color: darken($primary-color, 40);
}
.white-section a.item-link .fa {
	padding: 10px 5px 0px;
}
section.main-row.white-section .post-item-caption{
	min-height: 170px;
	margin-bottom: -55px;
	overflow: hidden;
	background: $dark-color;
}
section.white-section .section-item{
	text-align:center;
	position: relative;

	&:nth-child(odd):after, &:nth-child(even):after{
		content: "";
		height: 1px;
		width: 50%;
		display: inline-block;
		position: absolute;
		left:23%;
	}
	&:nth-child(odd):after{
		bottom: 0px;
		border-top: solid 1px $primary-color;
	}
	&:nth-child(even):after{
		top: 0px;
		border-bottom: solid 1px $primary-color;
	}
	.content {
		border-radius: 30px;
		border: solid 1px $secondary-color;
		background: #fff;
		position: relative;
		margin: 0px 15px 0px 15px;
		padding: 15px;
		height: 100%;
		transition: background .3s ease-in-out;

		h2 {
			i.fa {
				color: $primary-color;
				font-size: 2em;
			}
		}

		.item-title {
			color: $secondary-color;
		}

	}

	
	&:hover > .content{
		background: $primary-color;
		border:none;
	}

	&:hover > .content h2 i, 
	&:hover > .content .item-description,
	&:hover > .content .item-link{
		color: $light-color;		
	}
	&:hover > .content .item-link{
		border-color: $light-color;

	}
}

section.biography-wrapper{
	margin-top: 20px;

	.biography{
		padding-top: 30px;
		padding-bottom: 30px;
		background: darken($secondary-color, 10);

		.section-title, .section-description {
			color: $light-color;
			opacity: .9;
		}
		.section-title {
			&:before{
				border-color: $light-color;
				left: 45%;
			}
			&:after{
				border-color: $third-color;
				left: 49%;
			}
		}
		
		.button{
			padding: 0.65rem 1rem;
			font-size: 0.8125rem;
			background: transparent;
			border: solid 1px $primary-color;
			color: $primary-color;
			font-weight: 300px;
		}
		.button:hover{
			background: $primary-color;
			color: $light-color;
			border: none;
		}
	}

}

/* Blog */
section.home-blog {
	position: relative;
	background: lighten($secondary-color, 50);
	
	.white-section {
		background: transparent;
	}

	article{
		box-shadow: 0px 0px 2px 1px $gray-shadow;
		-moz-box-shadow: 0px 0px 2px 1px $gray-shadow;
		
		.panel{
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			padding-top: 15px;
			padding-bottom: 20px;
			background: $light-color;
		}
		
		.post-item-image img{
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}

		&.small .post-item-caption {
			display: flex;
			flex-direction: row; 
			/*height: 180px;*/
			margin-bottom: 25px;
			.post-item-image{
				width: 100%;
				/*height: 100%;*/
				overflow: hidden;
				img {
					min-height: 100%;
					width: auto;
					max-width: unset;
					border-top-left-radius: 20px;
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 20px;
					border-top-right-radius: 0;
				}
			}
			.panel {
				h3 {
					font-size: 1.5rem;
				}
				h6 {
					font-size: 1.2rem;
				}
				border-top-left-radius: 0px;
				border-bottom-right-radius: 20px;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 20px;
				margin-bottom: 0;
				height: 100%;
			}
		}
		
		&.big .post-item-caption {
			/*height: 400px;*/
			overflow: hidden;
			.post-item-image{
				/*height: 235px;*/
			}
			.panel{
				/*height: 150px;*/
				overflow: hidden;
				h3{
					font-size: 1.3rem;
				}
			}
			img{
				min-width: 100%;
				height: auto;
			}
		}

		&:hover > .post-item-caption img{
			filter:sepia(20)
		}
	}
}
.category-row article .post-item-image, .main-row article .post-item-image{
	overflow: hidden;
	background: $dark-color;
	position:relative;

	img {
		min-width: 100%;
		width: 100%;
		height: auto;
	}
}

.full-blog article .post-item-caption {
	overflow: hidden;
	position: relative;
}
.full-blog article .post-item-caption .panel {
	position: absolute;
	padding:20px;
	bottom: -100%;
}
.full-blog {margin-bottom: 0;}
.full-blog article.columns {
	padding: 0;
	margin: 0;
}

.full-blog article .post-item-image {
	margin-bottom: 0;
	min-height: 155px;
	overflow: hidden;
}
.full-blog article .post-item-image img{
	min-height: 100%;
	width: auto;
}



.full-blog article:hover > .post-item-caption .panel {

	bottom: 0px;
	height: 100%;
	width: 100%;
	background: rgba($primary-color, .8);

}

.full-blog .panel img { 

	transform-origin: scale(1);
	-webkit-transform: scale(1); 
   -moz-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	 -o-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1);

	-webkit-transition: -webkit-transform .5s; 
	transition: transform .5s;
}

.full-blog article:hover > .post-item-caption img {

	transform-origin: scale(1.4);
	-webkit-transform: scale(1.4); 
   -moz-transform: rotate(10deg) scale(1.4);
	-ms-transform: rotate(10deg) scale(1.4);
	 -o-transform: rotate(10deg) scale(1.4);
		transform: rotate(10deg) scale(1.4);

	-webkit-transition: -webkit-transform .5s; 
	transition: transform .5s;
}

.full-blog article:hover > .post-item-caption .post-item-title {
	margin-top: 20px;
}

.full-blog .post-item-caption .post-item-title a{
	color: $light-color;
}

.full-blog .post-item-caption .post-item-title a:hover {
	color: $light-color;
}
/*
================================================================================================
10.0 - Content (Posts and Custom post types)
================================================================================================
*/

.main-column {
	padding:0px;
}
.single-row .main-column {
	padding-left:15px;
}


article button:hover,
article .panel .button:focus,
article .panel .button:hover,
article .panel .button:focus,
.widget .button:hover {
	background-color: $dark-color;
	color: #FFFFFF;
}

article.post-item .post-item-title {
	font-family: $primary-font, Helvetica, Roboto, Arial, sans-serif;
	text-transform: capitalize;
	font-weight: 300;
}

article.post-item .post-item-title a {color:$secondary-color;}
article.post-item .post-item-title a:hover {color:$primary-color;}

article .post-item-date span {
	display: block;
}
article .post-item-date .day {
	font-weight: bold;
	font-size: 2.5em;
}
article .post-item-date .month-year{
	font-size: 0.7em;
}
article .panel {
	border: none;
	margin-bottom: 1.25rem;
	padding: 1.25rem;
	padding-bottom: 0px;
	position:relative;
}


/*
================================================================================================
11.0 - Content (Category and archive rows)
================================================================================================
*/

.main-row {
	padding: 15px;
}

.category-row .category-header .columns{
	padding:0;
}
.category-row .post-list {
	display: flex;
    flex-wrap: wrap;
	margin-bottom:20px;
}


.row .category-header {
	margin-bottom: 10px;
	border-bottom:solid 1px $shadow-color;
	
	text-transform: uppercase;
	
	
}

.category-header .post-item-button {
	line-height: 1.5em;
	font-size: 0.75em;
	padding-top: 10px;
}
.category-title {
	font-family: $secondary-font;
	color: $primary-color;
	text-transform: uppercase;
	padding: 0px;
	font-weight: 500;
	border-bottom:solid 1px $primary-color;
	display: inline-block;
	margin-bottom: -1px;
}


article.columns + article.columns:last-child {
	float: left;
}
.category-row article {
	padding-bottom: 0px;
	margin-bottom: 0.5rem;
}
.main-row .category-row article {
	margin-bottom: 0;
	
}
.bloc-3.main-row .category-row article {
	margin-bottom: 20px;
	
}

.category-row .post-list:child(n+1) {
	padding-left: 20px;
}
.category-row .post-item-caption{
	border: none;
	margin-bottom: 0;
}

.category-row.category-mix .post-item-caption .post-item-image {
	background: #000;
}
.category-row.category-mix .post-item-caption .post-item-image img{
	opacity: .6;
}
.category-row.category-mix .post-item-caption .panel {
	position: absolute;
	bottom:20px;
	padding:20px;
	
}
.category-row .post-item-caption .panel {
	border: none;
	margin-top: 10px;
	position:relative;
	padding: 0;
	float: none;
	margin-bottom: 0;
	background: transparent;
}

.category-row.category-mix .panel .post-item-title {
	font-weight: 300;
	line-height: 1.2;
	font-family: $primary-font;
	text-transform:capitalize;
}
.category-row.category-mix .panel .post-item-title, .category-row.category-mix .panel p, .category-row.category-mix .panel .post-item-date {
	color: #FFF;
}
.category-row.category-mix .mix-small article:first-child {
	margin-bottom: 20px;
}

.category-row.category-mix .panel .post-item-title a, .category-row.category-mix .panel .label{
	color:$primary-color;
}
.category-row.category-mix .panel .post-item-title a:hover{
	color:#FFF;
}


.category-row article .panel p {
	font-family: inherit;
	font-weight: normal;
	line-height: 1.3;
	font-size: 0.9rem;

}

.category-row .category-link-wrapper {
	display: block;
}


/*
================================================================================================
12.0 - Content (Archives and search rows)
================================================================================================
*/

.category-row.archive-row .category-title,.category-row.archive-row .category-title-line, .not-found,
.single-row .category-title, .single-row .category-title-line
{
	text-align: left;
}


.post-list.not-found ul {
	-webkit-column-count: 3;
	   -moz-column-count: 3;
			column-count: 3; 
}

/*
================================================================================================
13.0 - Content (Events)
================================================================================================
*/
.category-row .event-widget {
	padding: 20px;
}
.event-widget .event-item {
	padding:12px 5px;
	border-bottom: solid 1px $border-color;
}.category-row .event-widget .event-item {
	padding:18px 0px;
}
.event-widget .event-item:last-of-type{
	border-bottom: 0px;
}
.event-widget .day, .event-widget .full-day, .event-widget .month{
	text-transform: capitalize;
	font-family: $primary-font; 
	line-height: 0.6em;
}
.event-widget .day{color:$primary-color;line-height: 0.8;letter-spacing: -4px;text-align: center;}
.category-row .event-widget .day{text-align: left;}
.event-widget .month{color:$shadow-color;}
.event-widget .full-day{color:$primary-color;font-weight: 300; }
.event-widget p.description { margin-bottom: 0;}
.event-widget .description a{ font-size: 0.8em; font-weight: 300; color:$dark-color;}
.event-widget .link{
	line-height: 2.45rem;
	font-size: 1rem;
}
.event-widget .description a:hover{color:$secondary-color;}


/*
================================================================================================
14.0 - Sidebar
================================================================================================
*/

#sidebar.columns {
	
}
aside .widget {
	max-width: 100%;
	margin-bottom: 15px;

	ul {
		-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
		box-shadow: 0px 0px 3px rgba(0,0,0,.1);
		
	}
}
aside .widget ul, .widget ol, .widget > div{
	padding:15px 10px;
}
aside .row.widget {
	margin-bottom: 20px;
	border: solid 1px #d8d8d8;
}

aside .widget-title {
	color: #FFF;
	font-family: $primary-font;
	text-transform: uppercase;
	display: block;
	background: $secondary-color, 30;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 6px 12px;
	margin-bottom: 0px;
	margin-top: 0px;

}

aside .widget_search .widget-title {
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	background: none;
}

aside .widget_search {
	background: $primary-color;
	padding: 5px 10px 0px 15px;
	border:solid 1px $primary-color;
}

aside .widget_search button {
	font-size: 1.4em;
}
aside .widget .button.small {
	padding: 0.6rem 0.5rem 0.7rem 0.5rem;
	font-size: 0.8125rem;
}


aside .widget-title .fa {
	font-size: 0.85em;
	height: 22px;
	line-height: 22px;
	padding-right: 10px;
	display: block;
	float: left;
}

aside .twitter-feed .widget-title {
	background: #35a0d8;
}

aside .widget.twitter-feed {
	max-height: 300px;
	overflow: hidden;
}

aside .facebook-box .widget-title {
	background: #3e5e97;
}

aside .facebook-box iframe {
	width: 100%;
}

aside .recent-posts-box ul {
	padding: 0;
	margin: 0;
	padding: 15px;
}

aside .widget ul li {
	list-style: none;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: dashed 1px $border-color;

}
aside .widget ul li:last-child {
	border-bottom: none;
}

aside .recent-posts-box ul li:last-child {
	border-bottom: none;
}

.widget .button.small {
	padding: 0.64rem;
	font-size: 0.8125rem;
	width: 100%;
}
.widget ul {
	list-style: none;
	margin:0; 
	padding:0;
}
.widget ul li a:before {
	font-family: $icon-font;
	content: '\f1db'; 
	color: $link-color;
	padding-right: 10px;
	font-size: .6em;
	position: relative;
	top: -3px;
}
.widget ul li a {
	font-size: 1em;
	color: $dark-color;
}
footer .widget ul li a {
	font-size: 1em;
	color: $light-color;
}
aside .recent-posts-box ul li a {
	font-size: 0.8em;
}

.widget ul li a:hover {
	color: $link-color;
}




/*
================================================================================================
15.0 - Footer
================================================================================================
*/

footer#footer {
	background: $primary-color;
}

footer#footer {
	/* padding: 35px 20px 25px 20px; */
	color: #FFF;
}

footer .copyright {
	clear: both;
	font-size: 0.9em;
	font-family: $primary-font;
}

footer#footer .copyright a {
	color: $dark-color;
}

footer#footer .copyright a:hover {
	color: #FFF;
}


footer#footer .footer-bar {
	margin-bottom: 25px;
	padding-top: 20px;
	padding-bottom: 60px;
	margin-top: 20px;
	background-attachment: fixed;
	padding-left: 20px;
	padding-right: 20px;
}

footer#footer .footer-bar form{
	max-width: 100%;
	overflow: hidden;
}
footer#footer button.search-submit.button.small {
	padding: 0.50rem 1.2rem;
	height: 2.4rem;
	overflow: hidden;
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
footer#footer button.search-submit i{
	font-size: 1.2em;
}
footer#footer .widget .button.small{
	padding-left:5px;
	padding-right:5px;
	width:100%;
	font-size: 1em;
	padding:0.55em;
	
}
footer#footer .footer-bar .widget-title {
	color: $primary-color;
}

footer#footer .footer-bar {
	margin-top: 0px;
	padding-top: 40px;
	background: url(../img/worldmap.png) $secondary-color;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center 50%;
	background-size: 80%;
}


footer#footer .footer-bar .widget-title {
	font-family: $primary-font;
	text-transform: uppercase;
	/* border-bottom: solid 1px rgba(#FFF,0.3); */
	padding-bottom: 10px;
	display: block;
}

footer#footer .back-to-top-wrapper {
	position: relative;
}

footer#footer a.back-to-top {
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	color: #FFF;
	background: $primary-color;
	position: fixed;
	text-align: center;
	line-height: 40px;
	right: 4%;
	bottom: 30%;
	font-size: 1.5em;
}

footer#footer a.back-to-top:hover {
	color: $link-color;
	background: #fff;
	border: solid 1px $link-color;
}

footer#footer a#back-to-top {
	opacity: 1;
	z-index: 999;
}


// Multilingual
.widget_icl_lang_sel_widget {
	& > div {
		padding: 0;
		margin: 0;
	}
	.wpml-ls-flag {
		margin-right: 10px;
	}

	& > .wpml-ls-legacy-list-vertical {
		display: block;
	}
}


/*
================================================================================================
16.0 - Buttons
================================================================================================
*/


.button, button {
	background-color: $primary-color;
	font-family: $secondary-font;
}
button.small, .button.small {
	padding: 0.65rem 1.5rem 0.65rem 1.5rem;
	font-size: 0.8125rem;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: $secondary-color;
}

article .panel .button {
	border-radius: 5px;
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	font-family: $secondary-font;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 0.8rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0.5rem 1.4rem;
	font-size: 0.8rem;
	border-color: $border-color;
	color: #FFFFFF;
	text-transform: uppercase;
	transition: background-color 300ms ease-out;

}

.button.rounded {
	border-radius: 5px;
}
.button.green {
	background: #8ab81e;
	border-color: #84bd1f;
}
.button.navy {
	background: #022f4b;
	border-color: #033a5b;
}
.button.blue {
	background: #039cfd;
	border-color: #2baffd;
}
.button.red {
	background: #da0513;
	border-color: #f50625;
}

.call-to-action .button.small{
	text-transform: uppercase;
	font-size: 0.7rem;
}
.main-column .call-to-action .button.small {
	background: $secondary-color;
	margin-left:20px;
	margin-top:10px;
}
.main-column .call-to-action .button.small:hover {
	background: $primary-color;
}


/*
================================================================================================
17.0 - Tables
================================================================================================
*/

table,
th,
td {
	border: 1px solid $border-color;
}

table {
	width: 100%;
}

table thead tr th {
	background-color: $link-color;
	color: white;
	text-transform: uppercase;
	font-family: $primary-font;
}

/*
================================================================================================
18.0 - Pagination
================================================================================================
*/

.nav-links div{
	display: inline;
}
.nav-links .nav-next{
	float:right;
}
.nav-links .nav-prev{
	float:left;
}

.page-numbers, .nav-links div {
	font-family: $primary-font;
	display: inline-block;
	padding: 7px;
	margin: 0 2px 0 0;
	border: 1px solid $link-color;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	height: 40px;
	width: 40px;
	font-weight: 600;
	font-size: 1em;
}
.page-numbers.current,
a.page-numbers:hover {
	background: $link-color;
	color: $light-color;
}
span.page-numbers.dots {
	color: $link-color;
}
.pagination-wrapper {margin:15px 0px;}
ul.pagination li.current a,
ul.pagination li.current button {
	background: $link-color;
}
ul.pagination li a, ul.pagination li{
	font-size: 1em;
	font-family: $primary-font;
}

ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
	background: $dark-color;
}

/*
================================================================================================
19.0 - Breadcrumbs
================================================================================================
*/

footer .breadcrumbs {
	display: block;
	list-style: none;
	margin-left: 0;
	overflow: hidden;
	padding: 0.5625rem 0.875rem 0.5625rem;
	background-color: transparent;
	border: none;
}

footer .breadcrumbs li a,
footer .breadcrumbs li {
	color: #FFF;
}

footer .breadcrumbs li a:hover {
	color: #000;
}

footer .breadcrumbs > *::before {
	color: #000;
}

.breadcrumbs {
	display: block;
	list-style: none;
	margin-left: 0;
	overflow: hidden;
	padding: 0.6em 1.3rem;
	background-color: transparent;
	border: none;
}
.single-row .breadcrumbs {
		margin-bottom:15px;
}
.single-row .post-item .breadcrumbs {
	font-weight: bold;
	font-size: 1em;
	padding: 0;
}

.breadcrumbs > * {
	color: #000;
	font-size: 0.7em;
	line-height: 1.2rem;
}

.breadcrumbs  a {
	color: $link-color;
}
.breadcrumbs a:hover{
	color:$primary-color;
}


/*
================================================================================================
20.0 - Media Queries (Tablet Large 64em (1024px))
================================================================================================
*/

@media only screen and (max-width: 64em) { 

	section.items-wrapper {
		.section-item {
			margin-bottom: 20px;
		}
	}
	section.white-section .section-item{
		text-align:center;
		position: relative;

		
	}
	.category-row .mix-small {display: none;}
	
	header .banner-top, header .clear-banner, .search-wrapper {display: none;}
	header div.logo img {max-height: 70px;width: auto}
	header div.logo {padding-bottom:10px;}
	header .nav-wrapper {line-height: 40px;}
	
	.top-bar .toggle-topbar.menu-icon {
	top: 15px;
	}

	.main-row.slider-controllers {
		display: none;
	}

	.slider-caption .post-item-title {
		/*font-size: 2em;*/
	}
	.nav-wrapper.left {
		
	}
	.nav-wrapper ul.right,
	.nav-wrapper ul.left, .top-bar-section .dropdown {
		float: none !important;
		background: $dark-gray-color;
	}
	 
	 .top-bar .toggle-topbar.menu-icon a {
		font-size: 1.2em;
	}

	slider-wrapper .slider-caption .label.category {
	margin-bottom: 30px;
	}
	.slick-prev, .slick-next {bottom:20%;}

.slider-wrapper .panel p, .slider-wrapper .post-item-date{
		display: none;
	}
	 .slider-wrapper .slider-caption .panel .post-item-title a {
		 font-size: 0.8em;
	 }
 .slider-wrapper .slider-caption .panel .post-item-title a:hover {color:$primary-color;}

	 .main-nav > li {
		border-left: none;
	}
	 .main-nav {
		 float: left !important;
	 }
}

/*
================================================================================================
21.0 - Media Queries (Tablet 768-1024px)
================================================================================================
*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.slider-caption .post-item-title {
		font-size: 3.5em;
	}

}
/*
================================================================================================
21.0 - Media Queries (Mobile Large 37.50em (600px))
================================================================================================
*/

@media only screen and (max-width: 37.50em) {

	/* Blog */
	section.home-blog {
		
		article{
			&.big .post-item-caption {
				/*height: 300px;*/
				.post-item-image{
					height: unset;
				}

				.panel{
					/*height: 150px; */
					overflow: hidden;
					h3{
						font-size: 1rem;
					}
				}
			}

			&.small .post-item-caption {
				h6{
					font-size: .9rem;
				}
			}
		}
	}

	.top-bar .toggle-topbar.menu-icon a span::after {
		margin-right: 10px;
	} 
	body.home header .nav-wrapper {
		right: 0%;
	}
	
	section.items-wrapper {
		flex-direction: column;
	}
	body.home header .socials {
		bottom: 3%;
		a {
			font-size: 1em;

		}
	}
	section.white-section {

		.section-item{
			
			
			&:nth-child(even):after{
				border-top: none;
				bottom: 0px !important;
				border-bottom: solid 1px $primary-color;
				top: unset;
			}
		}

		.section-title {
			&:before{
				border-bottom: solid 1px $secondary-color;
				width: 20px;
				left: 40%;
			}
			&:after{
				width: 50px;
				border-bottom: solid 1px $third-color;
				left: 50%;
			}

		}
	}
	section.biography-wrapper{
	
		.biography{
			
			.section-title {
				&:before{
					left: 40%;
				}
				&:after{
					left: 50%;
				}
			}
		}
	}

	.slider-wrapper a.button{
		margin-top: 5px;
		border-radius:5px;
		font-size:0.5em;
		padding: 10px 30px;
	}
	
	.slider-wrapper .post-item img{ 
		/*min-height: 230px; 
		height: 100%;
		*/
	}
	.slider-wrapper{
		max-height: 230px !important;
		overflow: hidden;
	}
	
	.slider-caption .post-item-title {
		font-size: 1.7em;
	}
	
	.slider-caption span.category {
		display: none;
	}
	.main-row {
		padding: 5px 5px;
		margin-top: 0px;
	}
	.slider-wrapper .slider-caption {
		top:0px;
	}
	.slick-prev, .slick-next {
		top: 80%;
	}
	.top-bar .toggle-topbar.menu-icon {
		top: 0px;
	}
	section.fixed-header {
	position:relative;
	z-index: 100;
	width: auto;
	
	}
		
	header {
		div.slogan .title{
			padding-top:20px;
			font-size: 3.8em;
		}
		div.logo{
			margin-top: 20px;
			margin:0 auto;
			float: none;
			margin-bottom: -55px !important;
		}	
		.slider-wrapper .slider-caption {
			padding: 10px;
			top:5%;
		}
	}


	.top-bar-section ul li:hover:not(.has-form) > a {
		color:$primary-color;
	}
	.nav-wrapper nav {
		border: none;
	}
	.top-bar ul.title-area li {
		 /* background: #000; */
	}
	.top-bar ul li {
		/* background: #FFF;*/
		/* border-bottom: dotted 1px $link-color;*/
	}
	.main-nav > li {
	border-left: none;

	}

	.top-bar-section .has-dropdown > a::after {
		font-family: $icon-font;
		content: '\f054';
		font-size: 0.8em;
		border:none;
		padding-right: 10px;
		height: 1em;
		line-height: 1em;
	}
	.top-bar-section .has-dropdown > a:hover::after {
		font-family: $icon-font;
		content: '\f054';
		font-size: 0.8em;
		border:none;
		padding-right: 10px;
		height: 1em;
		line-height: 1em;
	}
	.top-bar-section ul li:hover:not(.has-form) > a {
		color: #000;
	}
	.top-bar-section ul li > a { 
		padding-top:5px;
		padding-bottom:5px;
		font-size: 0.7em;
	}
	nav ul.languages li.oblique-border {
		display: none;
	}
	
	.category-row .post-list,
	.archive-row {
		padding: 15px;
	}

	.category-row article,
	.sy-controls li a:after {
		top: 50%;
	}
	p {
		font-size: 0.9rem;
		line-height: 1.4;
		margin-bottom: 1.25rem;
		text-rendering: optimizeLegibility;
	}
	.category-row article .post-item-image img{
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.category-row article .post-item-image {
		max-height: 200px;

	}
	.category-row article .panel p {
		font-family: inherit;
		font-size: 0.9rem;
		font-weight: normal;
		line-height: 1.3;
		margin-top: 0.6rem;
		margin-bottom: 0.6rem;
		text-rendering: optimizeLegibility;
	}  
	.columns.nav-wrapper {
		width: 100%;
		padding-left:0px;
		padding-right:0px;
	}
	.top-bar-section ul li > a {
	color:$primary-color;
	}
	
	
	.top-bar .toggle-topbar.menu-icon a span::after {
		font-size: 1.5em;
	}    

	#footer {
		padding-bottom: 20px;	
		.socials {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			
		}
	}
}

/*
================================================================================================
22.0 - Media Queries (Mobile Small 30em (480px))
================================================================================================
*/
@media only screen and (max-width: 30em) {
	
	.slider-wrapper .slider-caption .post-item-date {
		display: none;
	}

	
}

/*
================================================================================================
23.0 - Media Queries (Mobile Small 20em (320px))
================================================================================================
*/
@media only screen and (max-width: 20em) {
	   header div.logo {
		margin-bottom: -35px !important;
	}

	.slider-caption .post-item-title {
		font-size: 1.4em;
	}
}


/*
================================================================================================
24.0 - Miscelleanous (clearfix, figure, no-padding)
================================================================================================
*/

.clearfix {
	clear: both;
}
figure {
	margin:0;
	min-width: 100%;
	margin-top:20px;
	margin-bottom:20px;
}
article.comment-wrapper {
	margin-top: 20px;
}
.no-padding-top {
	padding-top:0;
}
.no-padding-bottom {
	padding-bottom:0;
}
.no-padding-right {
	padding-right:0;
}
.no-padding-left {
	padding-left:0;
}
.no-padding {
	padding:0;
}

.no-margin-top {
	margin-top:0;
}
.no-margin-bottom {
	margin-bottom:0;
}
.no-margin-right {
	margin-right:0;
}
.no-margin-left {
	margin-left:0;
}
.no-margin {
	margin:0;
}


/*
================================================================================================
25.0 - Miscelleanous (Test and hacks colors)
================================================================================================
*/

.background-indigo {
	background: indigo;
}

.background-purple {
	background: #76207d;
}

.background-blue {
	background: #0f9cd3;
}

.background-green {
	background: #a4c20d;
}

.background-green-forest {
	background: #0c8700;
}

.background-safran {
	background: #ffca00;
}

.background-orange {
	background: #f95915;
}

.background-lightgrey {
	background: #f2f4f4;
}

.background-grey {
	background: #5a5c5f;
}

.background-darkgrey {
	background: #292929;
}

.background-red {
	background: #e8351a;
}
.background-white {
	z-index: 1;
	background:white;
	content: "";
}


/*
================================================================================================
26.0 - Miscelleanous (Test and hacks sizes)
================================================================================================
*/

.height-10 {
	min-height: 10px;
}
.height-15 {
	min-height: 15px;
}
.height-20 {
	min-height: 20px;
}
.height-30 {
	min-height: 30px;
}
.height-100 {
	min-height: 100px;
}

.height-120 {
	min-height: 120px;
}

.height-50 {
	min-height: 50px;
}



.height-200 {
	min-height: 200px;
}

.height-300 {
	min-height: 300px;
}

.height-150 {
	min-height: 150px;
}
.height-400 {
	min-height: 400px;
}
.height-450 {
	min-height: 450px;
}
.height-500 {
	min-height: 500px;
}


/*
================================================================================================
27.0 - Miscelleanous (Comments thread)
================================================================================================
*/
.comment-list{
	list-style: none;
	counter-increment: none;
}
.comment-content
.widget input[type=submit] {
	max-width: 120px;
}
.comment-list, .comment-list .vcard .fn, .comment-content, .comment-content p {
	font-size: 0.85rem;
}

.comment-list .vcard {
	margin: 0 0 0.5rem;
	width: 100%;
}
#comments label {
	display:inline;
	
}
#comments span.required{
	color:crimson;
}

ul.comment-list {
	list-style: none;
}
.comment-list > li.comment {
	 -moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 0.5em;
	position: relative;
}

/*
================================================================================================
28.0 - Miscelleanous (WordPress gallery and image alignment)
================================================================================================
*/

.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left
}

.alignright {
	float: right
}

img.alignleft {
	margin: 3px 20px 10px 0
}

img.alignright {
	margin: 3px 0 10px 20px
}

.post-content .gallery:after {content:"";display:table;clear:both;}


img.aligncenter, div.aligncenter, figure.aligncenter {display:block; margin:1em auto;}
img.alignright, div.alignright, figure.alignright {float:right; margin:1em 0 1em 2em;}
img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb {float:left; margin:1em 1em 2em 0;}
figure {max-width: 100%; height: auto; margin:1em 0;}
p img.alignright, p img.alignleft {margin-top:0;}

.gallery figure img {max-width:100%; height:auto; margin:0 auto; display:block;}

.gallery figure {float:left; margin:0 2% 1em 0;}

.gallery.gallery-columns-1 figure {width:100%; margin:0 0 1em 0; float:none;}

.post-content .gallery.gallery-columns-3 figure {width:32%;}
.gallery.gallery-columns-3 figure:nth-of-type(3n+3) {margin-right:0;}
.gallery.gallery-columns-3 figure:nth-of-type(3n+4) {clear:left;}

.gallery.gallery-columns-2 figure {width:49%;}
.gallery.gallery-columns-2 figure:nth-of-type(even) {margin-right:0;}
.gallery.gallery-columns-2 figure:nth-of-type(odd) {clear:left;}

.gallery.gallery-columns-4 figure {width:23.25%;}
.gallery.gallery-columns-4 figure:nth-of-type(4n+4) {margin-right:0;}
.gallery.gallery-columns-4 figure:nth-of-type(4n+5) {clear:left;}

.gallery.gallery-columns-5 figure {width:18%;}
.gallery.gallery-columns-5 figure:nth-of-type(5n+5) {margin-right:0;}
.gallery.gallery-columns-5 figure:nth-of-type(5n+6) {clear:left;}

.gallery.gallery-columns-6 figure {width:14.2%;}
.gallery.gallery-columns-6 figure:nth-of-type(6n+6) {margin-right:0;}
.gallery.gallery-columns-6 figure:nth-of-type(6n+7) {clear:left;}

.gallery.gallery-columns-7 figure {width:12%;}
.gallery.gallery-columns-7 figure:nth-of-type(7n+7) {margin-right:0;}
.gallery.gallery-columns-7 figure:nth-of-type(7n+8) {clear:left;}

.gallery.gallery-columns-8 figure {width:10.2%;}
.gallery.gallery-columns-8 figure:nth-of-type(8n+8) {margin-right:0;}
.gallery.gallery-columns-8 figure:nth-of-type(8n+9) {clear:left;}

.gallery.gallery-columns-9 figure {width:8.85%;}
.gallery.gallery-columns-9 figure:nth-of-type(9n+9) {margin-right:0;}
.gallery.gallery-columns-9 figure:nth-of-type(9n+10) {clear:left;}

@media (max-width:767px) {
	img.alignright, div.alignright, figure.alignright, img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb {display:block; margin:1em auto; float:none;}
	.gallery.gallery-columns-4 figure, .gallery.gallery-columns-5 figure, .gallery.gallery-columns-6 figure, .gallery.gallery-columns-7 figure, .gallery.gallery-columns-8 figure, .gallery.gallery-columns-9 figure {width:100%; margin:0 0 1em 0; float:none;}
}
